.submit-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 8px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.submit-button:hover {
  background-color: #050091;
  border-color: white;
  color: white;
}
