.submit-button {
  background: var(--color-primary);
  color: white;
  padding: 12px 22px;
  border-radius: var(--radius);
  border: none;
  cursor: pointer;
  font-weight: 600;
  display: block;
  margin: 20px auto;
  transition: 0.25s;
}

.submit-button:hover {
  background: var(--color-primary-light);
}